@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


*{
    margin:0;
    padding:0;
}
main{
    background-color: #0a0a0a;
}
/* navber style start */
.hero{
    display: flex;
    justify-content: space-between;
}

.navber-menubar{
    display: none;
}
#thero{
    margin-top: 50px;
}
.navber-wrapper{
    background-image: linear-gradient(rgba(17, 17, 17, 1),rgba(19, 19, 19, 0.753));
    height:720px;
}
.navber{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    padding: 25px;
}
.navber >h2{
    font-size: 2rem;
    color: #E6533C;
    font-weight: 900;
}
#home-btn{
    background-color: #E6533C;
    color:white;
    border: none;
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    margin-left: 0;
}
.navber-items{
    color:#fff;
    font-size: 1rem;
    margin-left: 60px;
    background-color: #ffffff10;
    border:none;
    cursor: pointer;
   
}
.navber-button{
    max-width: 500px;
    border: 1px dotted gray;
    border-radius: 50px;
    padding: 0 10px 0 0;
}
/* navber style end */

/* hero style start */
.hero{
    max-width: 1200px;
    margin: 40px auto;
}
.hero-contain{
    max-width: 550px;
}
#font{
    font-family: 'Miama', sans-serif;
    font-weight: 500;
}
.hero-title{
    font-size: 4.45rem;
    font-weight: 700;
    color: #fff;
}
.hero-des{
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    padding:16px 30px;
    cursor: pointer;
}
.btn-secondary{
    background-color: #0a0a0a;
    border: none;
    border-radius: 40px;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    padding:16px 30px;
    cursor: pointer;
}
.btn-area{
    padding-bottom: 30px;
}
.free-video{
    background-color: #3b3b3b62;
    max-width: 180px;
    text-align: center;
    border-radius: 10px;
    padding: 15px 10px;
    position: absolute;
    top:300px;
    right: 320px;
}
.video-title{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}
.video-des{
    font-size: 13px;
    color:rgba(255, 255, 255, 0.65)
}
.box{
    position: absolute;
    top:450px
}
.video-tutorial{
    display: flex;
    width: 170px;
    justify-content: space-between;
    background-color: #3b3b3b62;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top:550px;
}
.red-bok{
    width: 60px;
    height: 60px;
    background-color:red;
    border-radius: 50%;
}
.icon{
    display: none;
}
.tutorial-title{
    font-size: 1.5rem;
    color:#fff;
    font-weight: 600;
}
.tutorial-des{
    color: rgba(255, 255, 255, 0.65);
}
/* hero style end */

/* habit section style start */
.habits{
    background-color: #0a0a0a;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.habit-text-contain{
    max-width: 560px;
    margin: 0 auto;
    padding: 50px 0;
}
.habit-title{
    font-size: 3rem;
    font-weight: 800;
    color:#fff;
    text-align: center;
}
.habit-details{
    text-align: center;
    color:#a1a1a170;
    margin: 10px 0;
}
.habit-image-area{
    display: flex;
    justify-content: space-around;
    gap:30px
}
.img-contain>img{
    border-radius: 50%;
    text-align: center;
}
.habit-img{
    max-width: 300px;
}
.img-contain{
    width:290px;
    text-align: center;
    margin-bottom: 20px;
}
.habit-contain-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.habit-contain-details{
    font-size: 15px;
    color: #ffffff65;
    text-align: center;
}
/* habit section style end */

/* fitness section style start */
.fitness{
    background-color: #0a0a0a;
    margin: 50px 0;
}

.fitness-area{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}
.fitness-contain{
    max-width: 450px;
    margin-left: 30px;
}
.fitness-title{
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    margin-top: 40px;
}
.fitness-details{
    font-size: 15px;
    color: #ffffff98;
    margin: 10px 0;
}
.fitness-img{
    max-width: 450px;
    margin-right: 30px;
    
}
.fitness-img img{
    width:100%;
    border-radius: 15px;
}
/* fitness section style end */
/* BMI style section */
.calculator-title-box{
    max-width: 500px;
    margin: 40px auto;
}
.calculator-title{
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}
.calculator-details{
    color: #ffffff7e;
}
.calculator{
    background-color: rgba(34, 34, 34, 1);
}
.t-box-style{
    display: flex;
    justify-content: space-between;
}
.table-contain{
    max-width: 500px;
}
.input-contain{
    max-width: 500px;
}
.input-title,
.table-title{
    font-size: 2rem;
    color:#fff;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
}

.t-header{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
}
.tvalue{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffffa6;
}
td,th{
    border:1px solid rgb(235, 235, 235);
    padding:20px 50px;
}
.input-detail{
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffffa6;
}

.input-area{
    max-width: 560px;
    margin-top: 40px;
}
input{
    font-size: 27px;
    background-color: #2c2c2c;
    border:1px solid rgb(83, 83, 83);
    margin: 10px 0;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 10px;
    width:40%
}
.gender,
.option-fac{
    font-size: 27px;
    background-color: #2c2c2c;
    width:50%;
    border:1px solid rgb(83, 83, 83);
    margin: 10px 0;
    padding: 5px 20px;
    color:#ffffffa6;
    border-radius: 10px;
}
.option-fac{
    width:100%
}
input::placeholder{
    font-size: 25px;
}
.btn-position{
    margin-top: 50px;
}
/* Team section style */
.our-team{
    padding-bottom:100px;
}
.team-image-contain{
    margin-top: 80px;
    background-color: rgb(46, 46, 46);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    border-radius: 15px;
}
.team-contain{
    width: 70%;
    margin: 50px auto;
}
.team-title{
    font-size: 2.4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
}
.team-detail{
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffffa6;
    text-align: center;
}
.img-team{
    height:300px;
   margin: 30px;
}
.team-img{
    height: 360px;
    
}
.img-team>img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),#2c2c2c);
    background-position: center;
}
.img-detail{
    position: relative;
    top: -100px;
    left: 40px;
    width:300px;
}
.img-team img{
    width: 100%;
    height:100%;
    border-radius: 15px;
}
.leader-name{
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}
.leader-prof{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffffa6;
}
/* footer style start */
footer{
    background-color: #1b1b1b;
}
.footer-text{
    width: 45%;
}
.footer-services{
    width: 25%;
}
.footer-fitness-service{
    width:25%;
}
.footer-contain{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.footer-title{
    font-size: 4rem;
    font-weight: 900;
    color: #E6533C;
    margin-bottom: 30px;
} 
.footer-details{
    font-size: 1rem;
    font-weight: 500;
    color:#ffffffa6;
}
ul{
    list-style: none;
}
.service-title,
.fitness-service-title{
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}
.footer-list-contain{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffffa6;
    line-height: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffffa6;
    padding: 30px 0;
    text-align: center;
}
/* About style */
.about{
    max-width: 1200px;
    margin:0 auto;
}
.about-title{
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 30px;
}
.about>img{
    width:100%;
    height:600px;

}
.about-text{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.about-des{
    font-size: 1rem;
    color: #ffffff65;
    width:60%;
}
.about-box-containt{
    max-width: 1200px;
    display: flex;
    gap:50px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.first-img-box{
    max-width: 130px;
}
.first-img-box>img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid tomato;
    padding: 10px;
}
/* Mobile responsive start  */

@media screen and (max-width:576px) {
    /* navber responsive start */
    .navber-menubar{
        display: block;
    }
    .navber-button{
        display: none;
    }
    .navber-wrapper{
        height:1200px;
    }
    /* navber responsive end */

    /* hero responsive start */
    .hero{
        flex-direction: column;
    }
    .free-video{
        top:800px;
        right:60px
    }
    .box{
        display: none;
    }
    .video-tutorial{
        top:1050px
    }
    .icon{
        display: block;
        position: absolute;
        top:20px;
        right:140px;
    }
    .habit-image-area{
        flex-direction: column;
        align-items: center;
    }
    /* hero responsive end */
    /* fitness responsive start */
    .fitness-area{
        flex-direction: column;
        gap:30px;
        align-items: center;
    }
    .fitness-img{
        margin-left: 20px;
    }
    /* fitness responsive end */

    /* Bmi responsive start */
    .t-box-style{
        flex-direction: column;
    }
    .gender,
    .option-fac,
    input::placeholder,
    input{
    font-size: 18px;
}
input{
    max-width: 35%;
    margin-left: 10px;
}
.gender{
    max-width:44%;
    margin-left: 10px;
}
/* team responsive */
.team-image-contain{
    grid-template-columns: repeat(1,1fr);
}

/* about section responsive */
.about-des{
    flex-direction: column;
}
#btn-position{
    position: absolute;
    top:8300px
}

/* footer responsive  */
.footer-contain{
    flex-direction: column;
    align-items: center;
    gap:40px
}
.footer-services,
.footer-fitness-service,
.footer-fitness-service{
    width:80%;
}
}

/* Mobile responsive end */